.main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }
.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }
.nav-link {
    transition: .3s;
  }
.nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
.nav-list {
    list-style: none;
  }
html {
    scroll-behavior: smooth; 
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
* {
    box-sizing: border-box;
  }
@font-face {
    font-family: Roboto;
     src: url("assets/fonts/Roboto.ttf");
   }
   @font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoThin.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
    border: 1px solid red;
    @media (max-width: 768px) {
        .section {
          width: 100%;
        }
      }
    
    
  }
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; padding: 0;
    font-family: 'Roboto';
    

    font-family: 'Roboto', sans-serif;


        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    font-family: 'Roboto', sans-serif;
    font-weight:100

    header class = "header"
    header class = "main-header"
    header class = "footer-header"

    nav class="nav"
  ul class="nav-list"
    li class="nav-item"a href="#contacts" class="nav-link"Contacts/a/li
    li class="nav-item"a href="#summary" class="nav-link"Summary/a/li
    li class="nav-item"a href="#skills" class="nav-link"Skills/a/li
  /ul
/nav
section class="section" id="profile"
         
/section


      
    
    
   
}